@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Car trader</title>
</head>
<body>
    <h1>Car trader</h1>
    <div>
        
    </div>
</body>
</html>
